<h1>マイページ</h1>
     <div class="main-mypage">
      <div class="align-left">
        <p>名前: <%= @user.name %></p>
        <p>email: <%= @user.email %></p>
        <div class="buttom-container">
            <%= link_to("編集", "/users/#{@user.id}/edit") %>
            <%= link_to("削除", "/users/#{@user.id}/destroy") %>
        </div>
        <% @user.posts.each do |post| %>
        <div class="post-content">
          <%= link_to(post.title, "/posts/#{post.id}") %>
            
        </div>
        <% end %>
        </div>
     </div>
