
<h1>投稿の詳細ページだお</h1>

    <div class="posts-show-item">
        
        <h2><%= @post.title %></h2>
        <% if Like.find_by(user_id: @current_user.id, post_id: @post.id)%>
                <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
              　<span class="fa fa-heart like-btn-unlike"></span>
            　　<% end %>
            <% else %>
                <%= link_to("/likes/#{@post.id}/create",{method: "post"}) do %>
              　<span class="fa fa-heart like-btn">?</span>
            　　<% end %>
            <% end %>
            <%= @likes_count%>
        <p>
        <%= @post.content %>
        </p>
        <div class="post-time">
            <%= @post.created_at %>
        </div>
        
        <div class="post-menus">
            
            <%= link_to("編集", "/posts/#{@post.id}/edit") %>
            <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <%= link_to("シェア完了", "/posts/#{@post.id}/share")%>
</div>
            




